<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa&display=swap" rel="stylesheet">
<link rel="stylesheet" href="home.component.css">

<!-- html -->
<header>
  <div class="navbar">
    <ul>
      <li><a href="#"> <span>home</span></a></li>
      <li><a href="#about">about</a></li>
      <li><a href="#shop">shop</a></li>
      <li><a href="#club">surfing club</a></li>
      <li><a href="contact-us">contact us</a></li>
    </ul>
    <ul>
        <li><a href="jwt"><span>Sign in</span></a></li>
        <li><a href="signup"><span>Sign up</span></a></li>
    </ul>
  </div>
</header>

<main>
  <div class="shop-container" id = "shop">
    <a href="contact-us"> <button class="btn-order">order now</button></a>
    <p>wave house shop</p>
  </div>
  <!-- main container -->
  <div class="main-container">
    <div class="shops">
    <div class="shop-1">
      <a href="products"><img src="../../assets/img/surfboards.png" alt="surfboards" width="300px"></a> 
    </div>
    <div class="shop-2">
      <img src="../../assets/img/surfgear.png" alt="surgear" width="300px">
    </div>
    <div class="shop-3">
      <img src="../../assets/img/fins.png" alt="fins" width="300px">
    </div>
    <div class="shop-4">
      <img src="../../assets/img/wetsuits.png" alt="wetsuits" width="300px">
    </div>
  </div>

  <div class="description">
    <p>Welcome to our surfing shop, your one-stop destination for everything you need toride the waves like a pro! We're passionate <br> about surfing and we're committed to providing you with the best gear, accessories, and advice to take your surfing game to <br> the next level.</p>
  </div>

  <div class="main-container-2">

    <div class="surfboards-shop">
      <img src="../../assets/img/surfboardsshop.png" alt="surfboardsshop" width="300px" height="400px">
      <p>30-DAY RIDEOUT GUARANTEE 
        We know what it’s like to get the wrong board and we’ll 
        never leave any of our customers stuck with a board 
        that isn’t right for them. Our RIDE OUT guarantee 
        means the risk of buying the wrong board is a thing 
        of the past. Terms & Conditions apply.
        </p>
        <button class="btn-buy">
          buy now
        </button>
    </div>
    <div class="surfing-club" id = "club">
      <p>
        Welcome to the world of surfing! If you're new to this 
        amazing sport, then you're in the right place. Joining 
        a surfing club is a fantastic way to meet like-minded 
        people and take your surfing skills to the next level.
      </p>
    <a href="signup"> <button class="btn-join-us">
    join us
    </button></a>
    <img src="../../assets/img/surfingclub.png" alt="surfingclub" width="350px" height="400px">
    </div>
  </div>

  </div>

<!-- cards - this is second part of our website's container where have some cards -->
<div class="container">
  <div class="cards">

    <div class="card-1">
      <a href="#"> <img src="../../assets/img/brands.png" alt="brands" width="300px"> </a>
      <h4>All Brands</h4>
    </div>

    <div class="card-2">
      <a href="#"> <img src="../../assets/img/worldsurfers.png" alt="worldsurfers" width="300px"> </a>
      <h4>Best World surfers</h4>
    </div>

    <div class="card-3">
      <a href="#"> <img src="../../assets/img/kids.png" alt="kids" width="300px"> </a>
      <h4>New Collection <br>
        for kids</h4>
    </div>
    <div class="card-4">
        <a href="#"> <img src="../../assets/img/create.png" alt="create" width="300px"> </a>
        <h4>Create your own <br>
          surfboards</h4>
      </div>
    </div>
    <!-- video -->
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/810662127?h=f72fbe176f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;muted=0&amp;autoplay=1" data-src-desktop="https://player.vimeo.com/video/810662127?h=f72fbe176f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;muted=0&amp;autoplay=1" data-src="https://player.vimeo.com/video/811130160?h=ff10e73b01&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;muted=1&amp;autoplay=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" title="A High Place Trailer" class="lite-video-art-direction" width="900px" height="900px">
      </iframe>
    </div>
  </div>
  </main>
  
  <footer>
    <div class="info" id ="about">
      <ul>
        <li><a href="#">Location</a></li>
        <li><a href="#">Help center</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Customer Care</a></li>
        <li><a href="#">Feedback</a></li>
  
        <li><a href="#">Trip Adventure Vacations</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Track orders</a></li>
        <li><a href="#">Shop gifts</a></li>
      </ul>
    </div>
  
    <div class="social-networks">
      <h6>our social networks</h6>
    </div>
    <div class="icons">
        <a href="#"><img src="../../assets/svg/instagram-logo.svg" alt="insta-logo" width="50px"></a>
        <a href="#"><img src="../../assets/svg/logo-pinterest.svg" alt="pinterest-logo" width="50px"></a>
        <a href="#"><img src="../../assets/svg/youtube.svg" alt="youtube-logo" width="50px"></a>
        <a href="#"><img src="../../assets/svg/logo-tiktok.svg" alt="tiktok-logo" width="50px"></a>
    </div>
  
    <p>©2023 Wave House Surf Shop is the Kazakhstan’s Most Famous™ Surf Shop! All rights reserved</p>
  
  </footer>
  