<link rel="stylesheet" href="signup.component.css">
<body>
    <div class="enter">
        <h1>REGISTER HERE</h1><br>
        <p>Welcome to our club! Please enter your details.</p>
<!-- this part connect with js -->
<form #usersForm="ngForm" (ngSubmit)="getUserFormUser(usersForm.value)">
<h4>Name</h4>
      <input [(ngModel)]="name" class="input" type="text"  placeholder="Enter your name">

      <h4>Phone number</h4>
      <input [(ngModel)]="number" class="input" type="number"  placeholder="Enter your phone number">

        <h4>Email</h4>
        <input [(ngModel)]="email" class="input" type="email" placeholder="Enter your email" id="contact-email" onkeyup="validateEmail()" >
        <span id="email-error"></span>

        <h4>Password</h4>
        <input [(ngModel)]="password" class="input" type="password" minlength="8" placeholder="Enter your password">

        <div class="checkbox">
            <div class="check">
                <input type="checkbox">
                <span class="remember">Remember me</span>
            </div>
            <span>Forgot password?</span>
        </div>
        <button type="submit" class="sign" (click)="save()"> Sign up</button>
    </form>
        <!-- <button type="submit" class="google"> <img src="../../assets/img/google-logo.png" alt="google icon" width="20px"> <span> Sign in
                with Google </span> </button> -->
        <p class="signupfree"> already has account <a href="jwt"><span>Sign in</span></a> </p>
    </div>

        <img src="../../assets/img/signup_surfing_club.jpeg" class="photo" alt="" width="400px" height="500px">

</body>
