<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/> 
 
 
<div class="container"> 
  <div class="content"> 
    <div class="left-side"> 

      <div class="address details"> 
        <i class="fas fa-map-marker-alt"></i> 
        <div class="topic">Address</div> 
        <div class="text-one">Aqtau, Beach №1</div> 
        <div class="text-two">Al-Farab,i 06</div> 
      </div> 

      <div class="phone details"> 
        <i class="fas fa-phone-alt"></i> 
        <div class="topic">Phone</div> 
        <div class="text-one">+7-777-777-77-70</div> 
        <div class="text-two">+7-777-666-66-60</div> 
      </div> 


      <div class="email details"> 
        <i class="fas fa-envelope"></i> 
        <div class="topic">Email</div> 
        <div class="text-one">wavehouse@gmail.com</div> 
        <div class="text-two">wavehouseaqtau@gmail.com</div> 
      </div> 
    </div> 
    
    <div class="right-side"> 
      <div class="topic-text">Send us a message</div> 
      <p>If you have any questions to us or any queries related to our store, you can send us a message from here. We will be happy to help you)</p> 
      
      <form action="#"> 
        <div class="input-box"> 
          <input type="text" placeholder="Enter your name"> 
        </div> 
        <div class="input-box"> 
          <input type="text" placeholder="Enter your email"> 
        </div> 
        <div class="input-box"> 
          <input type="text" placeholder="Enter any details what you want to buy"> 
        </div> 
        <div class="input-box message-box"> 
        </div> 
        <div class="button"> 
          <button>Send Now</button> 
        </div> 
      </form> 

    </div> 
  </div> 
</div>