<link rel="stylesheet" href="jwt.component.css">
<body>
    <div class="enter">
        <h1>SIGN IN HERE</h1><br>
        <p>Welcome to our club! Please enter your details.</p>
<!-- this part connect with js -->
        <h4>Email</h4>
        <input [(ngModel)]="email" class="input" type="email" placeholder="Enter your email" id="contact-email">
        <span id="email-error"></span>

        <h4>Password</h4>
        <input [(ngModel)]="password" class="input" type="password" minlength="8" placeholder="Enter your password">

        <div class="checkbox">
            <div class="check">
                <input type="checkbox">
                <span class="remember">Remember me</span>
            </div>
            <span>Forgot password?</span>
        </div>
        <button type="submit" class="sign">Sign in</button>
        <!-- <button type="submit" class="google"> <img src="../../assets/img/google-logo.png" alt="google icon" width="20px"> <span> Sign in
                with Google </span> </button> -->
        <p class="signupfree">Don’t have an account? <a href="signup"><span>Sign up fo free!</span></a> </p>
    </div>
        <img src="../../assets/img/surfing-club-join.jpeg" class="photo" alt="surfing-club" width="350px" height="500px">
</body>