*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 80px;
}
header h1{
    margin-top: 30px;
    margin-left: 450px;
    color: rgb(255, 102, 0);
    font-size: 35px;
}
header p{
    margin-top: 30px;
    margin-left: 100px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
.video{
    margin-top: -50px;
    margin-left: 300px; 
}

.rules{
    margin-top: -100px;
    margin-left: -220px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.container{
    display: flex;
}

.container{
    margin-top: 50px;
}
.container1 img{
    margin-top: 30px;
    margin-left: 80px;
}

.container1 p{
    width: 400px;
    margin-top: 50px;
    margin-left: 80px;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

/* second */

.second-container{
    display: flex;
}

.second-container{
    margin-top: 50px;
}
.container2 img{
    margin-top: 30px;
    margin-left: 80px;
}

.container2 p{
    width: 400px;
    margin-top: 50px;
    margin-left: 80px;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}
.video2{
    margin-top: -50px;
    margin-left: 300px; 
}
footer{
    width: 100%;
    height: 100px;
}

footer h3{
    margin-top: -80px;
    margin-left: 80px;
    color: rgb(255, 102, 0);
    font-size: 20px;
}
footer h3 a{
    cursor: pointer;
}