<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa&display=swap" rel="stylesheet">
<link rel="stylesheet" href="club.component.css">

<header>
    <h1>Welcome to our Wavehouse Surfing Club!</h1>
    <p>Welcome to our surfing club, where we're all about catching waves and having a good time! We're excited to have you here <br> and can't wait to share our passion for surfing with you. 
        Whether you're a seasoned pro or just starting out, our club is the <br> perfect place to hone your skills, meet new friends, and enjoy the ocean. Our experienced instructors are dedicated to helping <br> you improve your technique and get the most out of your time on the water.    
    </p>
</header>

<main>
    <div class="video">
        <iframe src="https://player.vimeo.com/video/793196150?h=af694978e4&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1" data-src="https://player.vimeo.com/video/793196150?h=af694978e4&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" title="MPE P40" width="900px" height="900px">
        </iframe>
        <p class = "rules">As a member of our surfing club, you'll have access to a range of resources to help you take your surfing to the next level. <br> Here are just a few:</p>
    </div>     

 <div class="container">
    <div class="container1">
        <img src="../../assets/club_img/SurfForecast.jpeg" alt="SurfForecast" width="350px" height="500px">
        <p>1.Surf Forecast: Check out the latest surf forecast to plan your sessions in advance and make sure you're catching the best waves possible. </p>
    </div>

    <div class="container1">
        <img src="../../assets/club_img/GearGuide.jpeg" alt="SurfForecast" width="350px" height="500px">
        <p>2.Gear Guide: Not sure what kind of board or wetsuit to get? Our gear guide will help you find the right equipment for your skill level and surfing style. </p>
    </div>

    <div class="container1">
        <img src="../../assets/club_img/TechniqueVideos.jpeg" alt="SurfForecast" width="350px" height="500px">
        <p>3.Technique Videos: Our library of technique videos covers everything from basic skills to advanced maneuvers, so you can improve your surfing no matter where you're starting from. </p> 
    </div>
</div>

<div class="second-container">
    <div class="container2">
        <img src="../../assets/club_img/SurfingEvents.jpeg" alt="SurfForecast" width="350px" height="500px">
        <p>4.Surfing Events: We host regular surfing events, from friendly competitions to beach cleanups, so you can get involved with the local surfing community and have fun while making a positive impact. </p>
    </div>

    <div class="container2">
        <img src="../../assets/club_img/SurfingForums.jpeg" alt="SurfForecast" width="350px" height="500px">
        <p>5.Gear Guide: Not sure what kind of board or wetsuit to get? Our gear guide will help you find the right equipment for your skill level and surfing style. </p>
    </div>
</div>
     
<div class="video2">
    <iframe src="https://player.vimeo.com/video/762468046?h=2489d77ca5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;playsinline=false&amp;autoplay=1" data-src="https://player.vimeo.com/video/762468046?h=2489d77ca5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;playsinline=false&amp;autoplay=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" title="Ari Browne Artifical Swim" width="900px" height="900px">
    </iframe>
</div>     
</main>

<footer>
   <h3>We're committed to providing a safe, supportive,  and inclusive environment for all our members, and we can't wait to see you out on the waves. <br> Welcome to the club! And join to our telegram <a href="https://t.me/+bbsBLKPw908zZjYy">chanel</a> </h3>
</footer>